*,
body{
    margin: 0;
    padding: 0;
    width: 100%;
}
/*navbar*/
.navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    background-color: rgb(161, 203, 223);
}
.navbar .left .my-logo{
    width: 50px;
    border-radius: 50px;
    border: 2px solid rgb(4, 77, 146);
}
.navbar .left {
    display: flex;
    padding: 10px;
    margin: 10px;
}
.navbar .right {
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 10px;
    margin: 5px;
}

.navbar .right button {
    width: 100%;
    padding: 5px 30px;
    cursor: pointer;
    background-color: rgb(197, 214, 221);
    color: rgb(0, 0, 0);
    border: 2px solid rgb(10, 109, 148);
    transition: 0.5s;
    border-radius: 25px;
}
.navbar .right button:hover {
    background-color: rgb(59, 115, 161);
    color: rgb(255, 255, 255);
}

/*hero section style*/
.hero-sec {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    justify-content: space-between;
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(0, 0, 0, 0.3)),url(https://layers.pk/wp-content/uploads/2021/12/Mob-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
}

.hero-sec .sec-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 15px;
}
.hero-sec .sec-left .hero-heading {
    font-size: 80px;
    color: rgb(7, 77, 109);
    text-transform: capitalize;
    font-weight: bold;
    line-height: 45px;
    gap: 20px;
    margin-bottom: 30px;
}
.hero-sec .sec-left .detail {
    font-size: 20px;
    text-transform: capitalize;
    gap: 30px;
    font-weight: 200px;
}
.hero-sec .sec-left .a-tag-btn {
    font-size: 20px;
    padding: 20px 0;
    margin: 20px 0;
    font-weight: bold;
    background-color: rgb(161, 189, 206);
    color: black;
    border: 3px solid rgb(4, 89, 128);
    transition: 0.5s;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    width: 30%;
    border-radius: 20px;
}

.hero-sec .sec-left .a-tag-btn:hover {
    background-color: rgb(17, 100, 168);
    color: white;
}

.hero-sec .sec-left .h-btn {
    font-size: 20px;
    padding: 20px 0;
    margin: 20px 0;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    background-color: rgb(172, 194, 206);
    color: black;
    border: none;
    transition: 0.5s;
    cursor: pointer;
    border: 3px solid rgb(6, 84, 129);
    border-radius: 20px;
    width: 40%;
}

.hero-sec .sec-left .h-btn:hover {
    background-color: rgb(12, 128, 182);
    color: white;
}
.hero-sec .sec-right {
  display: flex;
  justify-content: center;
  font-size: 28px;
  /* text-transform: uppercase; */
  font-weight: bold;
  width: 50%;
}

.hero-sec .sec-right .c-form {
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  padding: 30px 10px;
  width: 70%;
  background-color: rgb(200, 216, 223);
}

.hero-sec .sec-right .c-form h1 {
  font-size: 30px;
  text-align: left;
  padding: 10px 0;
  color: rgb(15, 107, 160);
  font-weight: bold;
}

.hero-sec .sec-right .c-form .input-flelds {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero-sec .sec-right .c-form .input-flelds .input-div{
  display: flex;
  flex-direction: column;
}

.hero-sec .sec-right .c-form .input-flelds .input-div label{
  font-size: 14px;
  text-transform: capitalize;
}
.hero-sec .sec-right .c-form .input-flelds .input-div input{
  padding: 4px 0;
  width: 100%;
}
.hero-sec .sec-right .c-form .input-flelds .input-div .feedback{
  padding: 4px 0;
  width: 100%;
  height: 100px;
}
.hero-sec .sec-right .c-form .input-flelds .input-div button{
  padding: 10px 0;
  width: 100%;
  cursor: pointer;
  transition: 0.5s;
  background-color: rgb(223, 215, 215);
  color: black;
  border: 2px solid black ;
  font-size: 16px;
}
.hero-sec .sec-right .c-form .input-flelds .input-div button:hover{
  /* padding: 4px 0;
  width: 100%; */
  background-color: rgb(68, 68, 71);
  color: white;
  border: 2px solid rgb(68, 68, 71);
}

/*cards*/
.cards{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 15px 0;
    gap: 10px;
    justify-content: center;
}
.cards .card{
    display: flex;
    flex-direction: column;
    width: 25%;
    border: 2px solid black;
}
.cards img{
    width: 100%;
    height: 70%;
    margin-bottom: 10px;
}
.cards .card .card-content{
    text-transform: capitalize;
    text-align: center;
    gap: 5px;
}
.cards .card .title{
    font-size: 25px;
    font-weight: bold; 
    color: black;
    margin-bottom: 5px;
}
.cards .card .description{
    font-size: 20px;
    font-weight: 100;
    justify-content: center;
    color: black;
}
.cards .card .price {
    font-size: 25px;
    font-weight: bold;
    color: black;
    margin: 5px;
}
.cards .card .btn {
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 5px;
    padding: 5px;
    color: black;
    font-weight: 500;
    width: 80%;
    background-color: rgb(186, 180, 199);
    cursor: pointer;
    transition: 0.5s;
}

.cards .card .btn:hover {
    background-color: rgb(38, 35, 39);
    color: rgb(255, 255, 255);
}

/*sec-cards*/
.sec-cards{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 15px 0px;
    gap: 10px;
    justify-content: center;
}
.sec-cards .sec-card{
    display: flex;
    flex-direction: column;
    width: 25%;
    border: 2px solid black;
}
.sec-cards img{
    width: 100%;
    height: 70%;
    margin-bottom: 10px;
}
.sec-cards .sec-card .sec-card-content{
    text-transform: capitalize;
    text-align: center;
    gap: 5px;
}
.sec-cards .sec-card .title{
    font-size: 25px;
    font-weight: bold; 
    color: black;
    margin-bottom: 5px;
}
.sec-cards .sec-card .description{
    font-size: 20px;
    font-weight: 100;
    justify-content: center;
    color: black;
}
.sec-cards .sec-card .price {
    font-size: 25px;
    font-weight: bold;
    color: black;
    margin: 5px;
}
.sec-cards .sec-card .btn {
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 5px;
    padding: 5px;
    color: black;
    font-weight: 500;
    width: 80%;
    background-color: rgb(186, 180, 199);
    cursor: pointer;
    transition: 0.5s;
}

.sec-cards .sec-card .btn:hover {
    background-color: rgb(38, 35, 39);
    color: rgb(255, 255, 255);
}

/* contact section */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-image:
    linear-gradient(rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.3)),
    url("https://layers.pk/wp-content/uploads/2021/12/Mob-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  color: #fff;
  color: #ffffff;
  padding: 90px 0px;
  align-items: center;
  text-align: center;
  gap: 25px;
}

.container h1{
  font-size: 50px;
  font-weight: 400;
  color: black;
}
.container p{
  font-size: 25px;
  font-weight: 400px;
  color: black;
}

.container .total-content{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 50%; 
}

.container .total-content .sub-container{
  display: flex;
  flex-direction: column;
}

.container .total-content .sub-container .a-tag-sub-btn {
    font-size: 20px;
    padding: 20px 0;
    margin: 20px 0;
    font-weight: bold;
    background-color: rgb(172, 194, 206);
    color: black;
    border: 3px solid rgb(6, 84, 129);
    transition: 0.5s;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    width: 100%;
    border-radius: 20px;
}

.container .total-content .sub-container .a-tag-sub-btn:hover {
    background-color: rgb(4, 89, 128);
    color: white;
}
.container .total-content .ps-container{
  display: flex;
  flex-direction: column;
}
.container .total-content .ps-container .h-sub-btn{
    font-size: 20px;
    padding: 20px 0;
    margin: 20px 0;
    font-weight: bold;
    background-color: rgb(172, 194, 206);
    color: black;
    border: 3px solid rgb(6, 84, 129);
    transition: 0.5s;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    width: 100%;
    border-radius: 20px;
}
.container .total-content .ps-container .h-sub-btn:hover{
    background-color: rgb(4, 89, 128);
    color: white;
}
/* yt section */
.vid{
  width: 100%;
  padding: 25px;
}
.vid .yt-vid{
  width: 100%;
  height: 20vh;
  border: 2px solid rgb(255, 255, 255);
}

/* footer sect */
.footer-sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
    background-color: rgb(111, 166, 192);
    color: rgb(0, 0, 0);
    border-top: 2px solid white;
}
.footer-sec .tabs{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 40px 0;
}
.footer-sec .tabs .section-1{
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 5px;
    padding: 0 10px;
}
.footer-sec .tabs .section-1 h1{
    font-size: 30px;
    font-weight: bold;
}
.footer-sec .tabs .section-1 p{
    font-size: 20px;
    font-weight: 400;
}

.footer-sec .tabs .section-2 {
  display: flex;
  flex-direction: column;
  width: 25%;
   gap: 5px;
}
.footer-sec .tabs .section-2 h1{
  font-size: 30px;
  font-weight: bold;
}
.footer-sec .tabs .section-2 .btn-align {
  display: flex;
  flex-direction: column; 
  gap: 10px;
}
.footer-sec .tabs .section-3 {
  display: flex;
  flex-direction: column;
  width: 25%;
   gap: 5px;
}
.footer-sec .tabs .section-3 h1{
  font-size: 30px;
  font-weight: bold;
}
.footer-sec .tabs .section-3 .btn-align {
  display: flex;
  flex-direction: column; 
  gap: 10px;
}
.footer-sec .tabs .section-4 {
  display: flex;
  flex-direction: column;
  width: 25%;
   gap: 5px;
}
.footer-sec .tabs .section-4 h1{
  font-size: 30px;
  font-weight: bold;
}
.footer-sec .tabs .section-4 .btn-align {
  display: flex;
  flex-direction: column; 
  gap: 10px;
}
.footer-sec .tabs .section-4 .btn-align .p-icon{
  display: flex;
  flex-direction: row; 
  gap: 10px;
}
.footer-sec .tabs .section-4 .btn-align .p-icon i{
  font-size: 20px;
  color: black;
}
.footer-sec .tabs .section-4 .btn-align {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-sec .copyright{
    display: flex;
    justify-content: center;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: bold;
    padding: 20px 0;
    background-color: rgb(111, 166, 192);
    color: black;
    border-top: 2px solid white;
}